		body, html {
			height: 100%;
			width: 100%;
			margin: 0px;
			padding: 0px;
			font-family: "Open Sans", sans-serif;
  			font-size: 14px;
			color: #4E4E4E;
		}

		header, footer {
			height: 10%;
			display: block;
			border: 2px solid #D8D8D8;
			border-radius: 24px;
			margin: 10px;
			padding: 10px;
		}

		nav {
			width: 20%;
			min-height: 1600px;
			float: left;border: 2px solid #D8D8D8;
			border-radius: 24px;
			margin: 5px;
			padding: 5px;
		}

		section {
			float: left;
			width: 75%;
			border: 2px solid #D8D8D8;
			border-radius: 24px;
			margin: 5px;
			padding: 5px;
		}

		img, video, audio, iframe, object, param {
			float: left;
			margin: 5px;
			padding: 5px;
			border: 2px solid #D8D8D8;
			border-radius: 24px;
		}
		img {
			max-height: 100px;
		}
		video {
			max-height: 200px;
		}
		iframe {
			min-height: 180px;
		}
		object, param {
			min-height: 200px;
			min-width: 200px;
		}
		a {
			font-family: "Open Sans", sans-serif;
  			font-size: 14px;
			color: #4E4E4E;
			text-decoration: none;
			display: block;
			padding: 6px;
		}
		a:hover {
			color: orange;
		}
		ul {
			list-style-type: none;
		}
		h1 {
			color: orange;
		}

		footer {
			background:  
			url(../images/grass.png) left bottom repeat-x;
			background-size: 250px;
			border:none;
		}

		#cv .foto {
			float: left;
			margin: 5px;
			padding: 5px;
				
		}
		#cv .txt {
			float: left;
			width: 75%;
		}


		.clear {
			clear: both;
		}